@{
    ViewData["Title"] = "Categories";
}
@model IEnumerable<CategoryViewModel>
<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="CreateNewCategory" class="btn btn-success">
                    <span title="Create Category" class="fas fa-plus"></span> New Category
                </a>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modeItem => item.ImageUrl)</td>
                <td>
                    <a asp-action="UpdateCategory" asp-route-id="@item.CategoryId" title="Edit" class="btn btn-warning">
                        <span class="fas fa-edit"></span>
                    </a>
                    <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId" title="Delete" class="btn btn-danger">
                        <span class="fas fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>